RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-F
RewriteCond %{REQUEST_FILENAME} !-D

RewriteRule ^listPosts$ index.php?action=listPosts [QSA,L]
RewriteRule ^singlePost/([0-9]+)$ index.php?action=singlePost&id=$1 [QSA,L]
RewriteRule ^addComment/([0-9]+)$ index.php?action=addComment&postId=$1 [QSA,L]
RewriteRule ^removePost/([0-9]+)$ index.php?action=removePost&id=$1 [QSA,L]
RewriteRule ^modifiedPost/([0-9]+)$ index.php?action=modifiedPost&id=$1 [QSA,L]
RewriteRule ^updatePost/([0-9]+)$ index.php?action=updatePost&id=$1 [QSA,L]
RewriteRule ^removeComment/([0-9]+)$ index.php?action=removeComment&id=$1 [QSA,L]
RewriteRule ^reportComment/([0-9]+)/([0-9]+)$ index.php?action=reportComment&id=$1$&postId=$2 [QSA,L]
RewriteRule ^connexion$ index.php?action=connexion [QSA,L]
RewriteRule ^newConnexion$ index.php?action=newConnexion [QSA,L]
RewriteRule ^admin$ index.php?action=admin [QSA,L]
RewriteRule ^readPost$ index.php?action=readPost [QSA,L]
RewriteRule ^addPost$ index.php?action=addPost [QSA,L]
RewriteRule ^removeConnexion$ index.php?action=removeConnexion [QSA,L]
RewriteRule ^home$ index.php?action=home [QSA,L]
RewriteRule ^biographie$ index.php?action=biographie [QSA,L]

