/*Tableau de l'interface admin */
.tableau_article_admin {

}

.tableau_article_admin_entete {
    background-color: lightgrey;

}

td, th {
    padding: 5px 20px;
    border: 1px solid black;
}

table {
    border-spacing: 0;
    border: 1px solid black;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

/* Page admin */

.admin__article__titre{
    text-align: center;
}

/* page ecrire un article */

#mce{
    width: 80%;
    height: 600px;
    margin: auto;
}

/*header blog*/
.header {
    padding-left: 20px;
    background-color: black;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    flex-direction: row;
}
.header__logo__titre {
    color: white;
    margin: 0;
    padding-left: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
}
.header__logo__img {
    height: 90px;
    width: auto;
}
.header__menu{
    padding-right: 20px;
}
.header__menu__item{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

/*article liste page home*/
.home{
    width: 80%;
    margin: auto;
}
.home__titre{
    text-align: center;
    margin: 20px;
    font-size: 32px;
}
.home__posts__titre{
    background-color: darkgray;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home__posts__titre__date{
    font-size: 16px;
    font-style: italic;
}
.home__contenu__posts{
    background-color: lightgrey;
    padding: 10px;
    margin: 0 0 10px 0;
}
.home__contenu__posts__btn-lire-la-suite{
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: darkgray;
    padding: 5px;
    margin: 5px auto;
}

/*page article seul*/

.comment__add_form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px auto ;
    text-align: center;
}